body{
    background: #dedede;
    margin: 0;
    padding: 0;
}
.top_menu{
    background-color: rgb(145, 26, 26);
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 100vh;
    min-height: 300px;
  }
  
  .carousel-inner::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
  }
  
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    max-height: 100vh;
  }

.faculty{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
    padding: 10px, 2px;
}
.access{
    float: right;
}
.top_menu, .access{
    display: flex;
    justify-content: space-evenly;
}
h1{
    /*color: red;*/
    border: 2px solid rgb(155, 23, 23);
    padding: 1px;
    margin-top: 0px;
}
#nav-container{
    border-color: #ff6600  !important;
}
a> strong, #dpt-name{
    font-family: cursive;
}
#dpt-name{
    font-size: large;
}
.btn:focus{
    box-shadow:0 0 0 .25rem #ff660083 !important;
}
.form-control:focus{
    box-shadow:0 0 0 .25rem #ff660083 !important;
}